.tabs-wrapper {
    .tab-names {
        display: flex;
        flex-wrap: wrap;

        .tabname {
            flex: 0 0 10%;
            max-width: 10%;

            text-align: center;
            padding: 2px;
            margin: 0 2px;
            border: 1px solid;
            border-radius: 5px;
            cursor: pointer;

            &.active {
                color: white;
                background-color: black;
                &:hover {
                    background-color: black;
                }
            }

            &:hover {
                background-color: gainsboro;
            }
        }
    }
}