.task-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: calc(100dvw - 150px);

    input,
    label,
    button {
        padding: 5px;
    }

    input,
    button {
        flex: 0 0 5%;
        max-width: 5%;
        padding: 0;
    }

    label {
        flex: 0 0 85%;
        max-width: 85%;
        padding: 0;
    }
}