.modal-wrapper {
    display: flex;
    z-index: 1;
    position: fixed;
    left: 40%;
    top: 40%;
    background-color: black;
    height: 100px;
    width: 400px;
    align-items: center;
    justify-content: center;

    span, button {
        color: white;
    }
    button {
        margin-left: 3px;
    }
}